<h1>Editing time_event</h1>

<% form_for(@time_event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @time_event %> |
<%= link_to 'Back', time_events_path %>